/* Styles généraux */
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(50% 50% at 50% 50%, #2E2C2C 0%, #242222 49.5%, #2E2C2C 100%);
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(0deg, #4DAC0C 0%, #4DAC0C 100%);
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

header img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main-title {
    text-decoration: none;
    color: #2E2C2C;
    font-family: "Protest Strike";
    font-size: 4rem; /* Taille relative */
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
}


header ul li {
    display: inline;
    margin-right: 20px;
}

.menu-item {
    text-decoration: none;
    color: #DCD2D2 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important; /* Utilisation des rem pour une meilleure adaptabilité */
    font-weight: 600 !important;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.623);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: rgba(51, 50, 50, 0.603);
}

/* Section des filtres */
.filters {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    display: inline-block;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.arrow {
    font-size: 16px; /* Ajuste la taille de la flèche */
    color: white;    /* Assurez-vous que la couleur de la flèche est visible */
    margin-left: 5px; /* Ajoute un petit espace à gauche de la flèche */
}

.dropbtn, .arrow {
    font-family: 'Montserrat', sans-serif; /* Assure que la police est correcte */
}

.dropbtn:hover {
    background-color: rgba(51, 50, 50, 0.603);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4DAC0C;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content label {
    display: block;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.dropdown-content label:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styles pour le bouton étoiles */
#etoiles {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#etoiles:hover {
    background-color: rgba(51, 50, 50, 0.603);
}

/* Bouton de filtrage */
button[onclick="filtrerEquipes()"] {
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

button[onclick="filtrerEquipes()"]:hover {
    background-color: rgba(51, 50, 50, 0.603);
}


/* Image et conteneurs */
.image-container {
    display: flex;               /* Utilise Flexbox pour centrer le contenu */
    justify-content: center;     /* Centre horizontalement */
    margin: 0 auto;              /* Centre verticalement et horizontalement */
    max-width: 900px;            /* Limite la largeur du conteneur */
    position: relative;          /* Nécessaire pour positionner les cercles et le texte */
}

.centered-image {
    box-shadow: 5px 10px 5px rgba(255, 255, 255, 0.10); /* Garde votre ombre */
    width: 100%;               /* L'image occupera 80% de la largeur de son conteneur */
    max-width: 900px;          /* Limite la largeur de l'image pour qu'elle ne soit jamais trop grande */
    height: auto;              /* Maintient le rapport hauteur/largeur */
    object-fit: cover;         /* Ajuste l'image pour couvrir le conteneur tout en préservant le rapport */
    transform: rotate(-90deg); /* Si vous ne souhaitez pas faire pivoter l'image, vous pouvez commenter ou supprimer cette ligne */
    border-radius: 60px;       /* Arrondit les bords de l'image */
    z-index: 1;                /* Assure que l'image soit au fond */
}


.circle {
    position: absolute;
    width: 20vw;  /* Ajusté en fonction de la taille de l'écran */
    height: 20vw;  /* Ajusté en fonction de la taille de l'écran */
    border-radius: 50%;
    background: #262525;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-circle {
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.right-circle {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.left-club-info, .right-club-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.club-name-left, .club-name-right {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.left-club-name, .right-club-name {
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

/* Texte */
.text {
    position: absolute;
    width: 15vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262525;
    color: white;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    z-index: 3;
}

.left-text {
    top: calc(50% - 20vw);
    left: 5vw;
}

.right-text {
    top: calc(50% - 20vw);
    right: 5vw;
}

/* Bouton Lancer */
.lancer-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    background-color: #262525;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    transition: background-color 0.3s;
}

.lancer-button:hover {
    background-color: #3C8A0D;
}

/* Rating (étoiles) */
.club-rating-left, .club-rating-right {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #FFD700;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.language-switcher {
    font-size: 0;
}

.language-switcher a {
    margin-right: 10px; /* Ajuste la valeur selon la séparation que tu souhaites */
}

.language-switcher img {
    font-size: initial; /* Rétablit la taille de police normale pour les images */
}


/* Media Queries pour rendre le site responsive */
@media (max-width: 768px) {
    .centered-image {
        width: 70%;                /* Réduit la taille de l'image pour s'adapter à l'écran mobile */
        max-width: none;            /* Supprime la limite de largeur */
        transform: rotate(90deg);   /* Fais pivoter l'image de 90° pour correspondre au format portrait */
        border-radius: 30px;        /* Réduit légèrement le rayon de la bordure */
        margin: 0 auto;             /* Centre l'image horizontalement */
    }

    .main-title {
        font-size: 3rem; /* Taille réduite pour les écrans plus petits */
    }

    .menu-item {
        font-size: 0.5rem !important; /* Réduit la taille de la police */
        padding: 8px 15px; /* Réduit le padding pour un meilleur ajustement */
    }

    .circle {
        width: 25vw;   /* Ajuste la taille des cercles pour les petits écrans */
        height: 25vw;
        position: absolute; /* Conserve la position absolue pour aligner les cercles autour de l'image */
    }

    /* Positionnement pour le cercle de gauche */
    .left-circle {
        top: 50%;   /* Positionne verticalement au centre de l'image */
        left: 19vw; /* Place le cercle à gauche de l'image avec un ajustement */
        transform: translateY(-50%);
    }

    /* Positionnement pour le cercle de droite */
    .right-circle {
        top: 50%;    /* Positionne verticalement au centre de l'image */
        right: 20vw; /* Place le cercle à droite de l'image avec un ajustement */
        transform: translateY(-50%);
    }

    .text {
        width: 20vw;
        height: 6vw;
        font-size: 1.5rem;
    }

    .lancer-button {
        font-size: 1.2rem;
    }

    .left-text {
        top: calc(50% - 20vw);
        left: 21vw;
    }
    
    .right-text {
        top: calc(50% - 20vw);
        right: 23vw;
    }

    .club-name-left, .club-name-right {
        font-size: 1.0rem;
        
    }
    
    .left-club-name, .right-club-name {
        font-size: 0.8rem;
        
    }
    
}

@media (max-width: 480px) {
    .main-title {
        font-size: 2rem;
    }

    .menu-item {
        font-size: 0.8rem;
    }

    .filters {
        margin: 10px;           /* Réduit les marges pour optimiser l'espace */
        padding: 15px;          /* Réduit légèrement le padding */
        border-radius: 5px;     /* Réduit le rayon des bords */
        display: block;         /* Le display en block permettra un affichage en colonne */
        width: 90%;            /* Utilise toute la largeur disponible */
        text-align: center;     /* Centre le texte pour une meilleure lisibilité */
    }

    .dropdown {
        display: block;         /* Passe les dropdowns en block pour occuper toute la largeur */
        margin-bottom: 10px;    /* Ajoute de l'espacement entre chaque dropdown */
    }

    .dropbtn {
        width: 100%;            /* Les boutons dropdown occupent toute la largeur */
        padding: 10px;          /* Garde le padding mais réduit légèrement */
        font-size: 12px;        /* Réduit la taille de la police pour s'adapter à l'écran */
        border-radius: 3px;     /* Réduit le rayon des bords pour les petits écrans */
    }

    .arrow {
        font-size: 12px;        /* Ajuste la taille de la flèche */
        margin-left: 3px;       /* Diminue l'espacement */
    }

    .dropdown-content {
        min-width: 100%;        /* Le contenu dropdown s'étend sur toute la largeur */
        max-height: 150px;      /* Limite la hauteur pour éviter qu'il ne déborde trop sur l'écran */
    }

    .dropdown-content label {
        padding: 8px;           /* Réduit légèrement le padding des options */
        font-size: 12px;        /* Réduit la taille de la police pour une meilleure gestion */
    }

    .circle {
        width: 40vw;  /* Ajuste la taille des cercles pour l'écran 480px */
        height: 40vw;
    }

    .left-circle {
        top: 10vw;     /* Positionne le premier cercle plus haut */
        left: 50%;      /* Centre horizontalement */
        transform: translate(-50%, 0); /* Centre parfaitement sans ajustement vertical */
    }

    .right-circle {
        top: 62vw;     /* Positionne le second cercle sous le premier */
        left: 50%;      /* Centre horizontalement */
        transform: translate(-50%, 0); /* Centre parfaitement sans ajustement vertical */
    }

    .text {
        display: block; /* Assure que le texte (cercle) soit visible */
        position: absolute;
        left: 50%; /* Centre les cercles horizontalement */
        transform: translateX(-50%); /* Centre parfaitement */
        width: 25vw;
        height: 6vw;
        font-size: 1.2rem;
        
    }

    /* Positionne le premier cercle plus haut */
    .left-text {
        top: 3vw; /* Positionne verticalement */
    }

    /* Positionne le second cercle sous le premier */
    .right-text {
        top: 55vw; /* Ajuste pour éviter le chevauchement */
    }

    .lancer-button {
        top: 95%; /* Ajuste le bouton Lancer */
        font-size: 1rem;
    }

    .centered-image {
        width: 90%; /* Utilise 90% de la largeur de l'écran */
        transform: rotate(0deg); /* Supprime la rotation pour les petits écrans */
    }
}